@import "tailwindcss";
@import "./themes.css";

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    src: local("JetBrains Mono"),
    url("assets/fonts/jetbrains-mono-latin-400-normal.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 500;
    src: local("JetBrains Mono"),
    url("assets/fonts/jetbrains-mono-latin-500-normal.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 600;
    src: local("JetBrains Mono"),
    url("assets/fonts/jetbrains-mono-latin-600-normal.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 700;
    src: local("JetBrains Mono"),
    url("assets/fonts/jetbrains-mono-latin-700-normal.woff2") format("woff2");
}

html {
    background-color: var(--bg);
    text-align: center;
    color: var(--fg);
}

body {
    margin: 0;
    color: var(--fg);
    font-family: var(--font-body);
}

#app {
    height: 100vh;
    text-align: center;
}
